body {
	font-size: 14px;
	font-weight: 400;
	color: var(--gray-color);
}

h1 {
	font-size: 28px;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	font-weight: 500;
}

h3 {
	font-size: 14px;
}

p {
	font-size: 13px;
}
