
:root {
	/// Colors
	--black-color: #000;
	--white-color: #fff;

	--primary-color: #5a6acf;
	--primary-color-light: #707fdd;
	--primary-color-dark: #37375c;

	--primary-color-light-10: #c7ceff;
	--primary-color-light-20: #8593ed;

	--secondary-color: #e6e8ec;

	--success-primary: #149d52;

	--danger-primary: #f2383a;

	--gray-primary: #737b8b;
	--gray-secondary: #808080;

	--gray-dark: #1f384c;

	--gray-light: #f6f6fb;
	--gray-light-10: #fbfcfe;
	--gray-light-15: #f1f2f7;
	--gray-light-20: #dde4f0;
	--gray-light-30: #c8cbd9;
	--gray-light-40: #b0c3cc;

	--purple-color: #6463d6;
	--orange-color: #f99c30;
	--blue-color: #2fbfde;

	/// Spacing
	--base-space: 8px;
}
